<%- include("header") -%>

<h1>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam,
  distinctio.
</h1>

<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni maxime
  architecto iste impedit inventore nobis sit quas officiis minima veritatis non
  sapiente, doloremque dignissimos enim ipsum, quidem eius veniam neque et
  libero culpa, voluptates mollitia voluptatibus. Expedita dolorem sunt ad nemo
  sint hic molestiae incidunt, quos laboriosam, similique, at explicabo.
</p>

<%- include("footer") -%>
